<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shos - Shopping spree</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery");
    @*@Scripts.Render("https://epnt.ebay.com/static/epn-smart-tools.js")*@
<<<<<<< HEAD
<<<<<<< HEAD
    @Scripts.Render("~/Scripts/EPN.js")
=======
=======
>>>>>>> c52980d0ba5f812a307ed36f3408c1a9b2b330a7
    @*@Scripts.Render("~/Scripts/EPN.js")*@
    <script>window._epn = { campaign: 5338260688 };</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>

>>>>>>> c52980d0ba5f812a307ed36f3408c1a9b2b330a7
</head>
<body>

    @Html.Partial("_NavBar")
    @*@Html.Partial("_SearchBar")*@

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Shos - Shopping spree</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/lib")*@
    @RenderSection("scripts", required: false)
</body>
</html>