@model List<Models.Item>
@{
    ViewBag.Title = "GetItems";
}

<div id="pattern" class="pattern">
    <ul class="list img-list">
@foreach (var item in Model)
{
        <li>
            <a href="@item.ItemLink" class="inner">
                <div class="li-img">
                    <img src="@item.ItemPictureURL" alt="Image Alt Text" />
                </div>
                <div class="li-text">
                    <h4 class="li-head">@item.ItemTitle</h4>
                    <p class="li-summary">@item.ItemComments</p>
                    <p class="li-summary">@item.ItemPrice@item.ItemPriceCorency</p>
                    <p class="li-summary">@item.ItemShipingPrice</p>
                    <p class="li-summary">@item.ItemSoldAmount</p>
                    <p class="li-summary">@item.ItemDeliveryAstimatedDate</p>
                    <p class="li-action">Read More</p>
                </div>
            </a>
        </li>
}
</ul>
</div>