@model List<Models.Item>
@{
    ViewBag.Title = "GetItems";
}

<link href="~/Content/SearchList.css" rel="stylesheet">

@*<div id="pattern" class="pattern">
    <ul class="list img-list">
@foreach (var item in Model)
{
        <li>
            <a href="@item.ItemLink" class="inner">
                <div class="li-img">
                    <img src="@item.ItemPictureURL" alt="Image Alt Text" />
                </div>

                <div class="li-text">
                    <h4 class="li-head">@item.ItemTitle</h4>
                    <p class="li-summary">@item.ItemComments</p>
                    <p class="li-summary">@item.ItemPrice @item.ItemPriceCorency</p>
                    <p class="li-summary">@item.ItemShipingPrice</p>
                    <p class="li-action">Read More</p>
                </div>
            </a>
            
        </li>
}
</ul>
</div>*@
<h1>Title</h1>
<div class="shopping-cart">
    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-shipping">Shipping price</label>
        <label class="product-link">BUY</label>
        <label class="product-source">Source</label>
    </div>
@foreach (var item in Model)
{ 
    <div class="product">
        <div class="product-image">
            <img src="@item.ItemPictureURL">
        </div>
        <div class="product-details">
            <div class="product-title">@item.ItemTitle</div>
            <p class="product-description">@item.ItemComments</p>
        </div>
        <div class="product-price">@item.ItemPrice @item.ItemPriceCorency</div>
        <div class="product-shipping">
            @item.ItemShipingPrice
        </div>
        <div class="product-link">
            <button href="@item.ItemLink" class="link-product">
                BUY
            </button>
        </div>
        <div class="product-source">E-BAY</div>
    </div>
    }

    </div>

    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
