@model List<Models.Item>
@{
    ViewBag.Title = "GetItems";
}

<link href="~/Content/SearchList.css" rel="stylesheet">
<h1>search</h1>
<div class="shopping-cart">
    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-shipping">Shipping price</label>
        <label class="product-link">BUY</label>
        <label class="product-source">Source</label>
    </div>
    @foreach (var item in Model)
    {
        <div class="product">
            <div class="product-image">
                <img src="@item.ItemPictureURL">
            </div>
            <div class="product-details">
                <div class="product-title">@item.ItemTitle</div>
                <p class="product-description">@item.ItemComments</p>
            </div>
            <div class="product-price">@item.ItemPrice @item.ItemPriceCorency</div>
            <div class="product-shipping">
                @item.ItemShipingPrice
            </div>
            <div class="product-link">
                <form method="get" action="@item.ItemLink">
                    <button type="submit" class="link-of-product"><i class="fa fa-external-link-square"></i></button>
                </form>
                @*<button onclick="location.href='@item.ItemLink'" class="link-of-product">
                    <i class="fa fa-buysellads"></i>
                </button>*@
            </div>
            <div class="product-source">E-BAY</div>
        </div>
    }

</div>

